<app-header/>
    <div class="container-fluid" style="min-height: 100vh;">
        <div class="row">
            <div class="col-12" style="background-color: #F17228;">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <h1 style="font-family: 'Mada'; color: white;"><strong>{{nombreLugar}}</strong></h1>
                </div>
            </div>
        </div>
        @if(articulos.length > 0){
            <div class="row">
                <div class="col-12" style="background-color: #FFB30B;">
                    <div style="text-align: center; margin-bottom: 0%; margin-top: 1%;">
                            <h1 style="font-family: 'Mada'; color: white; font-size: 2rem;"><strong>Artículos</strong></h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-1">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-size: 2rem; font-family: 'Mada';"><strong>Id</strong></p>                    
                    </div>
                </div>
                <div class="col-2">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-size: 2rem; font-family: 'Mada';"><strong>Nombre</strong></p>
                    </div>
                </div>
                <div class="col-3">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-size: 2rem; font-family: 'Mada';"><strong>Descripción</strong></p>
                    </div>
                </div>
                <div class="col-3">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-size: 2rem; font-family: 'Mada';"><strong>Cantidad</strong></p>
                    </div>
                </div>
                <div class="col-1">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-size: 2rem; font-family: 'Mada';"><strong>Precio</strong></p>                    
                    </div>
                </div>
                <div class="col-2">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                            <p style="font-family: 'Mada'; font-size: 2rem; "><strong>Acciones</strong></p>
                    </div>
                </div>
            </div>
        @for(articulo of articulos; track articulo.idArticulo){
        <div class="row align-items-center" style="margin-top: 0%; border-top: 0.5px solid #393939; border-bottom: 0.5px solid #393939" >
            <div class="col-1" >
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada'; color: black;"><strong> {{articulo.idArticulo}}</strong></p>
                </div>
            </div>            

            <div class="col-2">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada'; color: black;"class="fw-light">{{articulo.nombreArticulo}}</p>
                </div>
            </div>
            <div class="col-3">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                    <p style="font-family: 'Mada'; color: black;"class="fw-light">{{articulo.descripcionArticulo}}</p>                
                </div>
            </div>
            <div class="col-3">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada';" class="fw-light">{{articulo.stock}}</p>
                </div>
            </div>
            <div class="col-1">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada'; color: black;"class="fw-light">${{articulo.precioArticulo}}</p>
                </div>
            </div>

            <div class="col-2">
                    <button class="btn btn-danger" style="margin-right: 2%;" (click)="deleteItem(articulo.idArticulo)">Eliminar</button>
                    <button class="btn btn-warning"style="margin-right: 2%;" [routerLink]="['edit',articulo.idArticulo]">Editar</button>
            </div>

        </div>
    }
}
@else{
    <div class="col-12" style="text-align: center; margin-top: 22%;">
        <h1 style="font-family: 'Mada'; color: #393939;">No hay artículos</h1>
        <h3 style="font-family: 'Mada'; color: #393939;">Registra tu primer artículo</h3>
    </div>
}
    <div class="row" style="margin-top: 5%; margin-bottom: 5%; margin-left: 5%;"  >
        <div class="col-2">
            <button class="btn btn-primary"style="margin-right: 2%;" [routerLink]="['/places/addItem',idLugar]">Agregar item</button>        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: #FFB30B;">
            <div style="text-align: center; margin-bottom: 0%; margin-top: 1%;">
                    <h1 style="font-family: 'Mada'; color: white; font-size: 2rem;"><strong>Pedidos</strong></h1>
            </div>
        </div>
    </div>
</div>
<app-footer/>
