<app-header/>
    <div class="container-fluid" style="min-height: 100vh; background-color: #F17228;">
        <div class="row">
            <div class="col-12" style="margin-top: 2%;">
                <h1 class="title text-white text-center" style="font-family: 'Mada';"><strong> Detalles de usuario</strong></h1>
            </div>
        </div>

        <div class="row" style="margin-bottom: 5%;">
            <div class="col-6 text-center" style="margin-top: 5%; margin-left: 25%; max-width: 50%;">
                <div class="card">
                  <div class="card-body">
                    <div [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="d-flex">
                      <!-- Sección izquierda: Información de la cuenta -->
                      <div class="form-left col-6" style="text-align: start;">
                        <p class="textForm text-center" style="font-size: 1.6rem; color: #524e4e; font-family: 'Mada';"><strong> Información de tu cuenta</strong></p>
                        <div class="form-group" style="margin-bottom: 8%;">
                          <label for="name" class="textForm" style="font-size: 1.3rem; color: #524e4e; font-family: 'Mada';">Nombre</label>
                          <p style="font-family: 'Mada';" class="fw-light">{{usuario.nombreUsuario}}</p>
                          <!-- <input type="text" class="form-control" id="name" formControlName="name" /> -->
                        </div>
                        <div class="form-group" style="margin-bottom: 8%;">
                          <label for="email" class="textForm" style="font-size: 1.3rem; color: #524e4e; font-family: 'Mada';">Correo</label>
                          <p style="font-family: 'Mada';" class="fw-light">{{usuario.correoUsuario}}</p>
                         <!-- <input type="email" class="form-control" id="email" formControlName="email" /> -->
                        </div>                      
                        <div class="form-group" style="margin-bottom: 8%;">
                            <label for="password" class="textForm" style="font-size: 1.3rem; color: #524e4e; font-family: 'Mada';">Contraseña</label>
                            <!-- <input type="password" id="password" class="form-control" formControlName="password"> -->
                            <p style="font-family: 'Mada';" class="fw-light" readOnly="true">
                                @for(i of usuario.contrasenaUsuario; track i){
                                    *
                                }
                            </p>

                          </div>
                        </div>
                      <!-- Sección derecha: Imagen de perfil -->
                      <div class="form-right col-6 text-center" style="margin-top: 8%;">
                        <p class="textForm text-center" style="font-size: 1.2rem; color: #524e4e; font-family: 'Mada'; margin-bottom: 10%;"><strong>Imagen de Perfil</strong></p>
                        <div class="profile-image-container mb-4">
            
                          <img 
                            src='{{usuario.imagenUsuario}}'  
                            alt="Imagen de perfil" 
                            class="img-fluid float-start"
                            
                          />
                          
                        </div>
                        

                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer/>