<app-header/>
<div class="container-fluid" style="min-height: 100vh;">
    <div class="row">
        <div class="col-12" style="background-color: #F17228;">
            <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                <h1 style="font-family: 'Mada'; color: white;"><strong>Mis pedidos</strong></h1>
            </div>
        </div>
    </div>
    @if(pedidos.length > 0){
        <div class="row align-items-center">
            <div class="col-1">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                    <p style="font-size: 2rem; font-family: 'Mada';"><strong>Id</strong></p>
                </div>
            </div>
            <div class="col-3">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                    <p style="font-size: 2rem; font-family: 'Mada';"><strong>Total</strong></p>
                </div>
            </div>
            <div class="col-3">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                    <p style="font-size: 2rem; font-family: 'Mada';"><strong>Estado</strong></p>
                </div>
            </div>
            <div class="col-2">
                <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                    <p style="font-family: 'Mada'; font-size: 2rem; "><strong>Acciones</strong></p>
                </div>
            </div>
        </div>
        @for(order of pedidos; track order.idPedido){
            <div class="row align-items-center" style="margin-top: 0%; border-top: 0.5px solid #393939; border-bottom: 0.5px solid #393939" >
                <div class="col-1" >
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <a style="font-family: 'Mada'; color: black;" [routerLink]="['listItems',order.idPedido]" class="btn btn-outline-primary" >{{order.idPedido}}</a>
                    </div>
                </div>
                <div class="col-3">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada'; color: black;"class="fw-light">{{order.totalPedido}}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div style="text-align: center; margin-bottom: 3%; margin-top: 3%;">
                        <p style="font-family: 'Mada';" class="fw-light">{{order.estadoPedido}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-danger" style="margin-right: 2%;" (click)="deleteOrder(order.idPedido)">Eliminar</button>
                    <button class="btn btn-warning"style="margin-right: 2%;" [routerLink]="['edit',order.idPedido]">Editar</button>
                    <button class="btn btn-primary"style="margin-right: 2%;" [routerLink]="['addItem',order.idPedido]">+</button>
                </div>

            </div>
        }
    }
    @else{
        <div class="col-12" style="text-align: center; margin-top: 22%;">
            <h1 style="font-family: 'Mada'; color: #393939;">No hay pedidos</h1>
            <h3 style="font-family: 'Mada'; color: #393939;">Añade artículos al carrito de compras</h3>
        </div>
    }
    <div class="row" style="margin-top: 5%; margin-bottom: 5%; margin-left: 5%;"  >
        <div class="col-2">
            <a  class="btn btn-success " style="margin-top: 2%;" [routerLink]="['add']"><strong>Añadir pedido</strong></a>
        </div>
    </div>
</div>
<app-footer/>
