<div class="container-fluid" style="min-width: 100vw; min-height: 100hv;">
    <div class="row" style="min-width: 100vw;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="col-4" style="min-height: 110%; height: 110%; padding-bottom: 2.2%; overflow: hidden;">
                <div class="container-fluid" style="max-height: 1px;">
                    <img src="/food.svg" width="8%" height="15%" alt="Food ForLess Logo" style="margin-right: 0.5%; margin-left: 30%; margin-bottom: 4%; overflow: hidden;" href="#" >
                        <a class="navbar-brand" href="#" style="font-family: 'Mada'; font-size: 200%; color: #F17228; margin-right: 1%;"><strong>Food</strong></a>
                        <a class="navbar-brand" href="#" style="font-family: 'Mada'; font-size: 200%; color: #FFB30B;"><strong>ForLess</strong></a>
                    </div>
            </div>

            <div class="col-4">
                <div class="container-fluid">
                    <strong>Pickup to: </strong>
                    <img src="/location.webp" width="3%" alt="Food ForLess Logo" style="display: inline; margin-right: 0.5%; margin-left: 0.5%">
                    Ubicación actual: <strong>ESCOM - IPN</strong>
                </div>
            </div>
            <div class="col-4">
                <div class="container-fluid" style="margin-right: 50%;">
                <form class="d-inline" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar comida" style="width: 30%; display: inline; font-family: 'Mada';">
                    <a class="btn btn-success" style="margin-right: 1%; font-family: 'Mada';"><strong>Buscar</strong></a>
                </form>
                @if(usuario.idUser == -1){
                    <a class="btn btn-warning" href="login" style="font-family: 'Mada';"><strong>Iniciar sesión</strong></a>
                }@else{
                    <div class="dropdown" style="display: inline;">
                        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hola, {{usuario.nombreUsuario}}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="profile">Perfil</a></li>
                            <li><a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a></li>
                            <li><a class="dropdown-item" href="orders">Mis pedidos</a></li>
                            <li><a class="dropdown-item" href="places">Administrar lugares</a></li>
                        </ul>
                        </div>
                }
            </div>
        </div>
        </nav>
    </div>
</div> 
