<app-header/>
<div class="container-fluid" style="background-color: #FFB30B; margin-bottom: 5%;">
    <br/>
    <div style="text-align: center; margin-bottom: 3%;">
        <h1 style="font-family: 'Mada'; color: white;"><strong>Categorías</strong></h1>
    </div>
@if(categorias.length > 0; ){
    <div id="carouselExample" class="carousel slide">
        <div class="row">
            <div class="col-10" style="margin-left: 9.5%;">
        <div class="carousel-inner">
            <ng-container *ngFor="let categoria of categorias; let i = index">
                <div class="carousel-item active" [class.active]="i === 0" *ngIf="i % 4 === 0">
                    <ng-container *ngFor="let offset of [0,1,2,3]">
                        <div *ngIf="(i + offset) < categorias.length" class="w-25" style="display: inline-block;">
                            <div class="card" style="margin: 5%; background-color: #FFB30B; border: none; display: inline;">
                                    <a [routerLink]="['/categories',categorias[i+offset].idCategoria]"><img src='{{categorias[i+offset].imagenCategoria}}' class="card-img-top" style="background-color: #FFB30B; max-width: 90%;"> </a>
                                <div class="card-body" >
                                    <h5 class="card-title text-center" style="font-size: 2rem;">{{categorias[i + offset].nombreCategoria}}</h5>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
            <div class="col-1">
            <button class="carousel-control-prev col-1"  type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-1">
                <button class="carousel-control-next col-1" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    </div>
</div>
}
</div>

<div class="container-fluid" style="min-height: 30vh;">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center;">
                <h1 style="font-family: 'Mada';"><strong>Explorar</strong></h1>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let articulo of articulos; let i = index; let place of lugares;">
        <div class="row" [class.active]="i === 0" *ngIf="i % 4 === 0">
            <ng-container *ngFor="let offset of [0,1,2,3]">
                <div *ngIf="(i + offset) < articulos.length && articulos[i+offset].stock > 0" class="col-3" style="display: inline-block;">
                    <div class="card" style="margin: 5%; border: none; ">
                        <div style="min-height: 30vh; max-height: 30vh;">
                            <img src='{{articulos[i+offset].imagenArticulo}}' class="card-img-top" style="background-color: #FFFFFF; max-width: 90%;">
                            <div class="overlay" style="position: absolute; bottom: 38%; background-color: #FFB30B; color: white; padding-top: 2.5%; padding-left: 2.5%; padding-right: 2.5%; border-radius: 5px; max-width: 60%; min-height: 14%; font: 0.7em 'Mada';">
                                <p style="display: inline; font-size: 3rem;"><strong>20</strong></p>
                                <p style="display: inline; font-size: 1rem;"><strong>% Off</strong></p>
                            </div>
                        </div>
                        <div class="card-body" style="text-align: left; margin-top: 15%;">
                            <h5 class="card-title" style="font-size: 1.8rem; font-family: 'Mada'; color: #393939;"><strong>{{articulos[i + offset].nombreArticulo}}</strong></h5>
                            <img src="/location.webp" width="5%" alt="Food ForLess Logo" style="display: inline; margin-right: 2%; margin-left: 0.5%">
                            @for(place of lugares; track place.idLugar){
                                @if(place.idLugar == articulos[i + offset].lugar.idLugar){
                                    <h5 class="card-title text-muted" style="font-size: 1rem; display: inline; color:#FFB30B">{{place.nombreLugar}}</h5>
                                }
                            }
                            
                            <h5 class="card-title " style="font-size: 1.4rem; padding-top: 5%; font-family: 'Mada';">${{articulos[i + offset].precioArticulo}}</h5>
                            <a [routerLink]="['details',articulos[i+offset].idArticulo]" class="btn btn-primary" style="background-color: #F17228; border-color: #F17228; min-width: 90%;"><strong>Detalles</strong></a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </ng-container>
</div>
<app-footer/>